statemachine.asl.json
{
	"Comment": "GRiST Meeting Processing Pipeline with Sliding Window Chunking",
	"StartAt": "ChunkTranscript",
	"States": {
		"ChunkTranscript": {
			"Type": "Task",
			"Resource": "${ChunkTranscriptArn}",
			"Comment": "Split large transcripts into overlapping chunks",
			"Retry": [
				{
					"ErrorEquals": [
						"Lambda.ServiceException",
						"Lambda.AWSLambdaException",
						"Lambda.SdkClientException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 3,
					"BackoffRate": 2
				}
			],
			"Next": "ProcessChunks"
		},
		"ProcessChunks": {
			"Type": "Map",
			"Comment": "Process each chunk in parallel (limited concurrency to avoid throttling)",
			"ItemsPath": "$.chunks",
			"MaxConcurrency": 2,
			"ResultPath": "$.chunk_results",
			"Parameters": {
				"meeting_id.$": "$.meeting_id",
				"chunk.$": "$$.Map.Item.Value"
			},
			"Iterator": {
				"StartAt": "PreprocessTurns",
				"States": {
					"PreprocessTurns": {
						"Type": "Task",
						"Resource": "${PreprocessTurnsArn}",
						"Parameters": {
							"meeting_id.$": "$.meeting_id",
							"input_key.$": "$.chunk.input_key",
							"output_key.$": "$.chunk.output_key",
							"chunk_index.$": "$.chunk.chunk_index"
						},
						"Retry": [
							{
								"ErrorEquals": [
									"States.TaskFailed"
								],
								"IntervalSeconds": 10,
								"MaxAttempts": 5,
								"BackoffRate": 2,
								"Comment": "Retry with exponential backoff for throttling and transient errors"
							},
							{
								"ErrorEquals": [
									"Lambda.ServiceException",
									"Lambda.AWSLambdaException",
									"Lambda.SdkClientException"
								],
								"IntervalSeconds": 5,
								"MaxAttempts": 3,
								"BackoffRate": 2
							}
						],
						"End": true
					}
				}
			},
			"Next": "MergeChunks"
		},
		"MergeChunks": {
			"Type": "Task",
			"Resource": "${MergeChunksArn}",
			"Comment": "Intelligently merge overlapping chunks",
			"Retry": [
				{
					"ErrorEquals": [
						"Lambda.ServiceException",
						"Lambda.AWSLambdaException",
						"Lambda.SdkClientException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 3,
					"BackoffRate": 2
				}
			],
			"Next": "GroupQA"
		},
		"GroupQA": {
			"Type": "Task",
			"Resource": "${GroupQAArn}",
			"Parameters": {
				"meeting_id.$": "$.meeting_id",
				"input_key.$": "$.turns_key",
				"output_key.$": "States.Format('{}02_qa_pairs.json', $.base_output_prefix)"
			},
			"Retry": [
				{
					"ErrorEquals": [
						"States.TaskFailed"
					],
					"IntervalSeconds": 10,
					"MaxAttempts": 5,
					"BackoffRate": 2
				}
			],
			"ResultPath": "$.qa",
			"Next": "ParallelProcessing"
		},
		"ParallelProcessing": {
			"Type": "Parallel",
			"ResultSelector": {
				"minutes.$": "$[0].minutes",
				"calendar.$": "$[0].calendar",
				"summaries.$": "$[1]"
			},
			"ResultPath": "$.artifacts",
			"Branches": [
				{
					"StartAt": "MinutesActions",
					"States": {
						"MinutesActions": {
							"Type": "Task",
							"Resource": "${MinutesActionsArn}",
							"Parameters": {
								"meeting_id.$": "$.meeting_id",
								"input_key.$": "$.qa.output_key",
								"output_key.$": "States.Format('{}03_minutes.json', $.base_output_prefix)"
							},
							"Retry": [
								{
									"ErrorEquals": [
										"States.TaskFailed"
									],
									"IntervalSeconds": 10,
									"MaxAttempts": 5,
									"BackoffRate": 2
								}
							],
							"ResultPath": "$.minutes",
							"Next": "MakeIcs"
						},
						"MakeIcs": {
							"Type": "Task",
							"Resource": "${MakeIcsArn}",
							"Parameters": {
								"meeting_id.$": "$.meeting_id",
								"input_key.$": "$.minutes.output_key",
								"output_key.$": "States.Format('{}05_calendar.json', $.base_output_prefix)"
							},
							"Retry": [
								{
									"ErrorEquals": [
										"States.TaskFailed"
									],
									"IntervalSeconds": 10,
									"MaxAttempts": 5,
									"BackoffRate": 2
								}
							],
							"ResultPath": "$.calendar",
							"End": true
						}
					}
				},
				{
					"StartAt": "Summarize",
					"States": {
						"Summarize": {
							"Type": "Task",
							"Resource": "${SummarizeArn}",
							"Parameters": {
								"meeting_id.$": "$.meeting_id",
								"input_key.$": "$.qa.output_key",
								"output_key.$": "States.Format('{}04_summaries.json', $.base_output_prefix)"
							},
							"Retry": [
								{
									"ErrorEquals": [
										"States.TaskFailed"
									],
									"IntervalSeconds": 10,
									"MaxAttempts": 5,
									"BackoffRate": 2
								}
							],
							"End": true
						}
					}
				}
			],
			"Next": "MakeManifest"
		},
		"MakeManifest": {
			"Type": "Task",
			"Resource": "${MakeManifestArn}",
			"Parameters": {
				"meeting_id.$": "$.meeting_id",
				"output_key.$": "States.Format('{}06_manifest.json', $.base_output_prefix)",
				"turns_key.$": "$.turns_key",
				"qa_pairs_key.$": "$.qa.output_key",
				"minutes_key.$": "$.artifacts.minutes.output_key",
				"summaries_key.$": "$.artifacts.summaries.output_key",
				"calendar_key.$": "$.artifacts.calendar.output_key"
			},
			"End": true
		}
	}
}